{% extends 'back/base_back.html.twig' %}

{% block title %}Gestion des Produits{% endblock %}

{% block body %}
    <h1>Gestion des Produits</h1>

    <div class="mb-3 text-end">
        <a href="{{ path('app_produit_new') }}" class="btn btn-success">Ajouter un produit</a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.prix }} TND</td>
                <td>{{ produit.stock }}</td>
                <td>
                    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}" class="btn btn-sm btn-warning">Éditer</a>
                    {{ include('produit/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun produit trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
