{% extends 'base.html.twig' %}

{% block title %}Gestion des Commandes{% endblock %}

{% block body %}
    <h1>Toutes les Commandes</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Client</th>
                <th>Date</th>
                <th>Statut</th>
                <th>Total</th>
                <th>Produits</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.user.prenom }} {{ commande.user.nom }}</td>
                <td>{{ commande.dateCommande|date('d/m/Y H:i') }}</td>
                <td><span class="badge bg-secondary">{{ commande.statut }}</span></td>
                <td>{{ commande.total }} TND</td>
                <td>
                    {% for ligne in commande.ligneCommandes %}
                        <div>- {{ ligne.produit.nom }} (x{{ ligne.quantite }})</div>
                    {% endfor %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune commande.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
